[2015-04-29 16:34] cweagans opened #1 "Want to collaborate?"
Hey @mkusher, I started working on a similar project a couple months ago: https://github.com/cweagans/theforce

Want to work together? I'd love to help on this!

[2015-04-29 21:23] mkusher commented on #1
@cweagans hi! I saw your project few weeks ago, when I've already created indexer and $this completion in mine. Saying honestly your project's name inspired to call it "padawan" :)
As I understand our projects are slightly different: my project based on "Index cache". Of course I'd like to join our "forces".
Can you describe current state of your project?

[2015-04-30 15:18] cweagans commented on #1
:)

Right now, my project can recursively iterate through all the files in a directory. Every file that matches a configurable extension (defaults to .php) will be parsed and symbol information will be stored in the symbol table. Right now, the symbol table is not really very useful. The only thing that you can actually get out of the server are global function names (no namespace support).

Your

[2015-05-03 09:53] mkusher commented on #1
@cweagans got it. So, my project already can complete `$this` and method arguments, but it have been done as pof, so now I'm writing tests for [`ContextResolver`](https://github.com/mkusher/padawan.php/blob/master/specs/completer/resolver/ContextResolver.spec.php), `Scope processor` and refactoring context-scope structure. [There are also namespaces, classes' and interfaces' names completion](http

[2015-05-06 16:57] mkusher commented on #1
@cweagans I've made short video that shows current state of the project: https://youtu.be/Y54P2N1T6-I

[2015-05-09 09:43] mkusher commented on #1
@cweagans and now I've added [Vim client](https://github.com/mkusher/padawan.vim)

[2015-06-07 02:46] Azakur4 opened #2 "how work the server?"
Im building a package that use this server to get autocompletion for php, but until now i generate the index file (.padawan/project), after this point im a little lose cuz i start the padawan server but i don't know to what url make the query for the autocompletions.

I know that in the realm u have linked a vim plugin and until i see u call to a complete method passing 4 parameters, im trying to

[2015-06-07 10:15] mkusher commented on #2
@Azakur4 hi!
First of all, have a look at this python client https://gist.github.com/mkusher/43bcff85d5e2f3ec3c55 and angular.js client http://mkusher.name/padawan/app.js
As of now there are 4 urls(You can see them [here](https://github.com/mkusher/padawan.php/blob/master/src/Router.php)):
- complete
- update
- generate
- save

Talking about /complete you've just need to send in request uri(query

[2015-06-07 10:17] Azakur4 commented on #2
Hi man, yeah i figure out, but until now was very hard understand the server. Do you have a place that we can chat need some advices if u have a time to help me.

[2015-06-07 10:19] mkusher commented on #2
I think skype chat is the right place, my nickname is `mkusher`

[2015-06-07 10:20] Azakur4 commented on #2
Added my nickname is Azakur4, please accept

[2015-06-07 19:24] Azakur4 opened #3 "Itens than can be nice to have"
Well like i talk with u @mkusher i will put here some itens that can be nice to have in padawan.php

- Autocomplete for variables.
- Autocomplete for default keywords and functions for php
- The actual functionality only show autocomplete when the cursor is after the "->" symbol. i think this can be done in the client too, maybe the client can recognize the principal object a save the autocompleti

[2015-06-10 09:32] #1 closed

[2015-07-04 06:24] mkusher opened #4 "TravisCI is drunk"
https://travis-ci.org/mkusher/padawan.php/jobs/69518081 should look through it and fix then

[2015-07-04 06:28] mkusher opened #5 "Add support for custom vendor path"
https://github.com/m2mdas/phpcomplete-extended/issues/43

[2015-07-25 10:27] f0086 opened #6 "composer install fails"
- Installing zendframework/zend-stdlib (2.4.0)
    Cloning eab586f4c18af3fa63c977611939f1f4a3cf1030

  [RuntimeException]
  Failed to clone git@github.com:zendframework/Component_ZendStdlib.git via git, https, ssh protocols, aborting.
  - git://github.com/zendframework/Component_ZendStdlib.git
    Cloning into '/tmp/padawan.php/vendor/zendframework/zend-stdlib'...
    fatal: remote error:
      Re

[2015-07-25 13:49] mkusher commented on #6
hi @f0086
I thought there was an error in travis's mirrors, but it is not. Now it is fixed, so checkout latest master and run `composer install` again.

https://travis-ci.org/mkusher/padawan.php/jobs/72593936

[2015-07-25 13:49] #6 closed

[2015-07-25 15:08] mkusher commented on #4
https://github.com/mkusher/padawan.php/issues/6

[2015-07-25 15:08] #4 closed

[2015-08-14 01:19] mkusher commented on #2
Documentation can be found here https://github.com/mkusher/padawan.php/wiki/Editor-plugins

[2015-08-14 01:19] #2 closed

[2015-08-16 19:43] mkusher opened #7 "Add completion for php defaults functions and classes"

[2015-08-16 19:44] mkusher commented on #3
@Azakur4 first item is done, second one is moved to https://github.com/mkusher/padawan.php/issues/7
third one should be done on a client side

[2015-08-16 19:44] #3 closed

[2015-08-17 14:34] Azakur4 commented on #3
Nice work i will review that next week.

[2015-08-19 13:01] mkusher commented on #7
These should be done using https://github.com/JetBrains/phpstorm-stubs

[2015-09-01 10:13] mkusher opened #10 "Fix kill command"
Kill command should return valid http response with 200 status

[2015-09-02 11:52] mkusher commented on #5
It should be fixed after https://github.com/mkusher/padawan.php/commit/9df387c9a50dd83237971c89f52a911dd09284a2

[2015-09-02 11:53] #5 closed

[2015-09-07 07:18] erichard opened #11 "Cannot generate index"
I try to generate the index in one project. But the command exit at 66% with

[code]

[code]

[2015-09-07 12:07] mkusher commented on #11
@erichard can you manually start `padawan generate` in this project folder? And past last 10 log lines?

[2015-09-07 12:09] erichard commented on #11
@mkusher That what I did. Sorry I did not precise it.

[2015-09-07 12:12] mkusher commented on #11
@erichard I meant lines before php stack trace, like:

[code]

[2015-09-07 12:18] erichard commented on #11
[code]

[2015-09-07 12:26] mkusher commented on #11
@erichard it is because of really big method chained call https://github.com/symfony/MonologBundle/blob/master/DependencyInjection/Configuration.php#L263
Can you increase nesting level to some big value like `9000`

[2015-09-09 17:13] mkusher commented on #11
@erichard Have you managed to generate index? I've added `ini_set` commands to scripts https://github.com/mkusher/padawan.php/blob/master/bin/padawan-server#L6 you may try it

[2015-09-15 12:49] voronkovich opened #12 "Add an option to exclude files and folders from index by mask"

[2015-09-15 13:44] mkusher commented on #12
@voronkovich why do you need such functionality?

[2015-09-15 13:48] voronkovich commented on #12
@mkusher, when I create an index for a Symfony project, padawan scans the `app/cache` directory.

[2015-09-15 13:49] mkusher commented on #12
@voronkovich thanks, nice case

[2015-09-15 13:57] voronkovich commented on #12
@mkusher, I think, you could add support for  `.gitignore` files, or another files with the same format.

[2015-09-21 07:51] mkusher commented on #12
@voronkovich I'm thinking about creating project files, e.g. `.padawan-project.json` or `.padawan-project.yml` with the structure like:

[code]

have you any ideas about it?

[2015-09-21 08:11] voronkovich commented on #12
@mkusher, I think the yaml format would be more appropriate than json. Why not to use just a `.padawan.yml` (without `project` suffix) name for the project file?

[2015-09-21 08:13] mkusher commented on #12
@voronkovich Yeah, make sense

[2015-09-21 19:09] mkusher commented on #11
@erichard have you still got this issue?

[2015-09-22 11:54] mkusher opened #13 "Fails to create FQCN"
Having file:
[code]
won't show any completion

[2015-09-28 09:06] erichard commented on #11
It works now  :)

[2015-09-28 09:06] #11 closed

[2015-09-28 21:33] mkusher opened #15 "parent:: completion doesn't work"
[code]
should return `test` and `testProtected`

[2015-10-12 05:29] girvo opened #17 "Padawan server not starting properly"
I was struggling to get Padawan working in Vim, until I realised that the server itself doesn't seem to be starting correctly. I ran it by hand instead, and told Vim to generate the index, and it got to 5%, jumped to 100%, said "completed" but crashed the server with the following stack trace:

[code]

Any ideas? I'm running PHP 5.6 on OSX 10.10.5, with the following `$HOME/.composer/composer.json

[2015-10-12 18:26] mkusher commented on #17
@girvo hi, why do you call `POST /kill` route? It kills padawan-server process(not the best way of killing, but it works for now).
Can you run `padawan generate` from your project folder?

[2015-10-12 22:38] girvo commented on #17
I didn't, I ran `:PadawanGenerateIndex` from in Vim. I'll give that a try and let you know

Also, separate question: for a large project, would it be best to commit the `.padawan` folder so others on the team can share the generated index?

[2015-10-12 22:50] girvo commented on #17
Okay, so after fixing some weird permissions problems `padawan generate` worked, and it created an index. I'm running the server by hand again, and when I hit <Tab> I can see it's trying to complete, but alas YouCompleteMe doesn't actually show me anything :(

Edit: disabling YouCompleteMe, and relying on Omnifunc instead is working well. It required this in my `.vimrc`:

[code]

Then, `<C-x> <C-o

[2015-10-13 09:46] mkusher commented on #17
1. you can use Control-Space hotkey to run completion from YCM or add semantic triggers as described in README.md of padawan.vim repo.
2. I don't think commiting .padawan folder is a good idea, it will pollute diffs and so

[2015-10-13 09:46] #17 closed

[2015-10-17 17:07] sekjun9878 opened #18 "Running the padawan.php root command / invalid subcommand gives no help / error message"

[2015-10-18 08:45] mkusher commented on #18
can you provide more information?

[2015-10-18 10:36] msjyoo commented on #18
[code]

It's just a feature suggestion to include help messages. There's currently no usage or help message when the command padawan is run without a valid subcommand.

[2015-10-23 04:12] cweagans commented on #12
It would be awesome if this was configurable from a plugin as well. For instance, if I write a Drupal plugin, it would be extremely cool if I could exclude modules that are not enabled from code completion.

[2015-10-23 10:07] mkusher commented on #12
@cweagans I need to think more about plugin api at all, because now it has very basic abilities.

[2015-11-13 08:27] sekjun9878 opened #19 "Function suggestions should append brace"
Hello,

When autocompleting functions, is it possible to have an option where braces are appended?

e.g. `function(` is inserted instead of `function`

[2015-11-13 14:48] mkusher commented on #19
It could be done here https://github.com/mkusher/padawan.php/blob/master/src/Complete/Completer/ObjectCompleter.php#L67
but I'm not sure whether it should be done on server(padawan.php) or client(vim, sublime etc.)

[2015-11-13 14:51] msjyoo commented on #19
@mkusher It'd be great if it could be done on the client, and maybe there could be an option to set the setting? But I couldn't find out whether Padawan.php sends signatures (variable, function, constant etc.) to the client.

[2015-11-13 14:55] mkusher commented on #19
@sekjun9878 for variables and properties `menu` will contain type or FQCN and for methods and function it will be signature(e.g. `(array $needle, string $search): mixed`)

[2015-11-14 15:49] mkusher opened #20 "Project file"
Proposal
=======

Project file is a yaml(e.g. `.padawan.yml`) configuration for a project.

Structure
------------

[code]

here we have 3 sections:
1. `plugins` - plugins you want to be enabled for these project
2. `exclude` - files or folders you want to exclude from being indexed
3. `cache_dir` - folder for padawan.php cache for these project

Editors' plugins
--------------------

Before edito

[2015-11-14 15:51] mkusher commented on #12
#20

[2015-11-14 15:51] #12 closed

[2015-11-14 16:01] voronkovich commented on #20
:+1:

[2015-11-17 07:00] msjyoo commented on #20
Maybe this should be stored inside the .padawan folder?

[2015-11-17 07:12] mkusher commented on #20
@sekjun9878 this file is not autogenerated by padawan.php, you should create it manually. So for a new project your variant will need extra step - make dir .padawan :)

[2015-11-22 18:01] allan-simon opened #21 "Implement getting the doc from {@inheritdoc}"
Especially for quite complex framework like symfony,  it makes the doc given in autocompletion less useful :)

[2015-11-22 18:06] mkusher commented on #21
Currently it can resolve only one level inheritance, but it should be improved :)

[2015-11-24 08:46] mkusher commented on #20
updated proposal: added `php` prop
`php` - version of php being used for running padawan. Could be 5 or 7. php 5.\* will use nikic/PHP-Parser and php 7 will use built-in AST builder.

[2015-11-24 08:49] msjyoo commented on #20
@mkusher php7 has a built-in ast node builder?

[2015-11-24 08:57] mkusher commented on #20
@sekjun9878 https://github.com/nikic/php-ast

[2015-11-24 11:25] msjyoo commented on #19
If this functionality is implemented, in vim, `autocmd CompleteDone * if getline('.')[col('.')-2] == "(" | execute "normal i)" | endif` can achieve brace auto-completion similar to how PHPStorm works.

[2015-11-24 13:07] msjyoo commented on #20
@mkusher That however introduces an additional dependency on the php-ast extension (and therefore a need for a custom PHP build)? I guess it depends on the result of https://wiki.php.net/rfc/parser-extension-api but for the forseeable future it looks like just using PHP-Parser seems a better choice.

[2015-12-10 17:08] SublimeBenjamin opened #22 "Can't install globally along with phpcs and phpmd"
I already have phpcs, phpmd and php-cs-fixer installed. Some make use of Symfony/EventDispatcher v3.0.0, which collides with padawan required dependency ^2.6 as shown below:

[code]

[2015-12-11 13:02] mkusher commented on #22
@SublimeBenjamin I'll try to update symfony/event-dispatcher

[2015-12-20 10:58] allan-simon opened #23 "Padawan does not autocomplete when inside an array"
I have the following symfony code

[code]
wheng typing  `$request->` in the function i got the correct autocompletion , but when i do directly in the `render`'s  array , it does not find anything

[2015-12-20 12:27] mkusher commented on #23
Hello, thanks for the bug report. This happens because of using hacked php-parser. It is unable to parse line like `'a' => $a->`

[2015-12-20 12:46] allan-simon commented on #23
hmmm ok, actually if i put it on one line , then it's able to parse it correctly

by the way,  now that php7 has a AST (and a lib to access it) , would it make things easier ? (like the people from this project https://github.com/etsy/phan/  are doing)

[2015-12-20 12:47] allan-simon commented on #23
more on the bug itself, do you think it would be hard to fix,  i.e if i could try my hand on it ?

[2015-12-20 12:52] mkusher commented on #23
@allan-simon I haven't tried it yet, but I think at least it would be faster. What about fixing this bug, right now I have not enough time and would be able to fix it only after holidays.
The problem lives here https://github.com/mkusher/padawan.php/blob/master/src/Parser/ErrorFreePhpParser.php
but if it is possible to use https://github.com/nikic/PHP-Parser/blob/master/doc/component/Error.markdow

[2015-12-20 15:39] allan-simon commented on #23
I've added some debug in ErrorFreePhpParser, and what I can see is that  most of the time the exception which get returned is

`Syntax error, unexpected EOF, expecting T_STRING or T_VARIABLE or '{' or '$' on line 1`

even for   `[ 'a' => $a-> ]`   (for which autocompletion works

but for

[code]

I got :

`"Syntax error, unexpected T_DOUBLE_ARROW on line 1"`

[2015-12-20 15:58] allan-simon commented on #23
oh I see what you mean,  as it handles on a line per line basis ,   hence why it works when the beginning of the array is on the same line,  and for other type of multiline statement

[2016-02-17 22:20] MichaelMackus opened #24 "Namespace completion"
In the README I see namespace completion which looks to be working in Sublime. However, in the VIM plugin it doesn't seem to work properly. If I type

[code]

Then `<C-x><C-o>` (trigger omnicomplete) I get an error `Pattern not found`. Same if I input text first like

[code]

Just wondering if this a VIM implementation issue, or issue with the padawan server? Also, I'm on commit hash be0cd81

Chee

[2016-02-18 11:23] mkusher commented on #24
looks strange, I've just tried it in my neovim and it worked as expected. So, if sublime configured to work with composer global padawan(which is done by default) and it works well, then I can say, that the issue is in the padawan.vim.
Can you share your `vimrc` or `init.vim`?

[2016-02-18 17:19] MichaelMackus commented on #24
Hmm, ok. Its not too big of a deal, as I'm currently using spacemacs/emacs and am considering creating a completion plugin for it (instead of using ac-php which is not as good as padawan IMO, especially if namespace completion _is_ supported).

[Here's](https://github.com/MichaelMackus/dotfiles/blob/master/vim/vimrc) a link to my vimrc if helpful

[2016-02-18 20:32] MichaelMackus commented on #24
@mkusher hmm I just tried neovim and namespace completion isn't working for me there either :(

Same vimrc, using `<C-x><C-o>` after `use Symf` returns "Error occured timed out" in neovim status line.

Here's the padawan server output:

[code]

I've verified my padawan.vim plugin is up to date, as well as padawan.php and the problem persists. I would love to get this working in either vim/neovim.

[2016-02-18 21:51] mkusher commented on #24
@MichaelMackus "time out" can occur in case of a big project, can you try entering something like

[code]

I think you should get completion in this situation.

thanks for a good words :)

[2016-02-18 22:12] MichaelMackus commented on #24
Still not working for me unfortunately :(

It is definitely a large(r) project, so that could be where these errors are coming from. Fairly standard Symfony core though, so not sure why it won't complete Symfony use statements.

With `use Symfony\<C-x><c-o>` I get the same timeout error, but I do get some more output from padawan-server:

[code]

EDIT: I noticed there was a space in the "Found tok

[2016-02-18 22:16] mkusher commented on #24
@MichaelMackus ok, try `<C-x><C-o>` multiple times. First request takes long time, cause padawan.php have to load project cache and deserialize index

[2016-02-18 22:18] MichaelMackus commented on #24
Unfortunately no matter how much times I try it doesn't seem to work with any namespace completion :(

Same error(s) continue. Interestingly, in the second case above, I don't get a timeout error, but do not get a completion popup.

Also, all the other padawan functions work fine within that buffer, so that makes me think padawan is already loaded & prepped.

[2016-02-18 22:21] mkusher commented on #24
@MichaelMackus without use it won't work, cause it is invalid token. Time out error can occur when the project is not ready or when there are too many items, so, try to use more specific namespace, like

[code]

[2016-02-18 22:23] MichaelMackus commented on #24
@mkusher still no cigar unfortunately

It might indeed just be a timeout issue, since I'm getting 1-5 second response time for all namespace completions, and much less than 1 second response time for all other completions.

Is there any way to increase timeout maybe?

[2016-02-18 22:29] mkusher commented on #24
yeah, try setting

[code]

it will increase timeout to 10 seconds, just for test purpose

[2016-02-18 22:34] MichaelMackus commented on #24
Yup, that seems to work! Takes a little while, but it does work with increased timeout.

[2016-02-18 22:36] mkusher commented on #24
@MichaelMackus hmm, it's not very good to have such delay, but currently I'm not going to optimize it, so I think the issue is closed now

[2016-02-18 22:36] #24 closed

[2016-02-24 23:29] pbogut opened #25 "Plugin specific commands to plugins"
I would like to be able to add a custom command to padawan.php plugin. As far as I can tell this is currently not possible.
Can we add something like special route, where we can pass plugin action?
I was thinking about a command that will dispatch event, which can be handled by the plugin.
What do you think? I'm happy to write a patch if you think that's a good idea.

[2016-02-25 10:42] mkusher commented on #25
@pbogut yeah, it can be a good idea, but first of all, why do you need it?

[2016-02-25 11:07] pbogut commented on #25
Ok, so I'm going back to my Magento plugin. Magento is using XML for many things including defining classes generated by a factory method. When XML file is changing it should be reloaded by the plugin. With custom plugin command it should be easy enough to trigger this action (manually, or by an auto command in vim on a buffer save).
Hopefully, that makes sense.

[2016-02-25 11:46] mkusher commented on #25
The problem I see right now is structure and API of padawan, that's going to change soon(hope in March I'll have enough time). So, I'm afraid your plugin/change will be incompatible with the next padawan version. Of course, if you do it, I'll try to help in migration and so.
Saying honestly I'm not even sure whether I'll break this thing

[2016-03-12 18:19] mikk150 opened #26 "does not obey @property dockblock"
padawan seems not to care about @property tag
(I think it doesn't care about @method tag too)

[2016-03-13 12:51] mkusher commented on #26
@mikk150 that's true, currently padawan simply adds doc comment text to class, but do not process it.

https://github.com/mkusher/padawan.php/blob/master/src/Parser/ClassParser.php#L106

Not sure whether it is feature request or bug :)

[2016-03-13 12:56] mikk150 commented on #26
yes, it is a feature request. I think it is much needed, because at this point I can't use padawan(I am forced to use codeintel at this point)

Yii2 framework relies heavily on magic getters and setters and magic call functions, so there it is much needed

[2016-03-13 13:07] mkusher commented on #26
@mikk150 will try to spend time on padawan next weekend, but if you have some free time you may try implement this feature. It might be faster, than waiting for me(sorry I'm too busy on my current project :( ).

[2016-03-13 13:08] mikk150 commented on #22
invalid, you can certainly install it along with phpcs and phpmd (I have done it without any hassle)

it doesn't ofcource mean, that we shouldn't update event dispatcher

[2016-03-13 13:11] mikk150 commented on #26
I'll see what I can do. I have done something like this with reflection-dockblock, it is really easy. But I have to figure out, how I can inject it in padawan

[2016-03-13 13:12] mkusher commented on #26
@mikk150 padawan already parses doc-comment, but do not process it

[2016-04-02 16:42] #7 closed

[2016-04-05 17:32] MichaelMackus opened #27 "Unable to generate structure since latest update"
Getting this error on padawan generate:

[code]

[2016-04-05 19:12] mkusher commented on #27
ouch, my fault :(

[2016-04-05 19:24] mkusher commented on #27
@MichaelMackus can you test with https://github.com/mkusher/padawan.php/pull/28

[2016-04-05 19:28] mkusher commented on #18
fixed in https://github.com/mkusher/padawan.php/commit/947d442abfe2274f8dacde4ca00373e614d55b86

[2016-04-05 19:28] #18 closed

[2016-04-08 18:09] MichaelMackus commented on #27
@mkusher not sure if seperate issue, but when I checkout your branch I get this error (but 93% progress at least):

[code]

[2016-04-08 18:10] MichaelMackus commented on #27
Sorry, here's the actual PHP error (there's lots of these, just Warnings though, I didn't see any Fatal errors):

[code]

[2016-04-08 20:24] mkusher commented on #27
@MichaelMackus and was index generated successfully?

[2016-04-08 20:41] MichaelMackus commented on #27
No :(

No change in the .padawan/project timestamp

[2016-04-08 20:50] mkusher commented on #27
@MichaelMackus ok, will check what happens in Twig...

[2016-04-10 12:48] mkusher commented on #27
@MichaelMackus I tried indexing project with Twig and big symfony project, both with and without xdebug enabled. Maybe you can share files on which padawan throws errors?
Update: Found, indexing is failing on php 5.6

[2016-04-10 13:41] mkusher commented on #27
@MichaelMackus check #28 one more time, I think I've managed to fix the issue

[2016-04-11 18:59] mkusher commented on #27
@MichaelMackus I've merged this pr to master, so checkout latest padawan and try again. Reopen if issue is still valid

[2016-04-11 18:59] #27 closed

[2016-04-11 19:00] mkusher commented on #10
Will be fixed in #29

[2016-04-11 19:01] mkusher commented on #19
Closing, cause should be done on client side

[2016-04-11 19:01] #19 closed

[2016-04-24 10:32] mkusher commented on #10
fixed in https://github.com/mkusher/padawan.php/commit/cb2c73679c4bee0f4e77754bf2fa9b19f51bd3a2

[2016-04-24 10:32] #10 closed

[2016-05-06 17:21] MichaelMackus opened #32 "Parser error when generating index"
Doesn't generate successful index (haven't had an updated index since March 31st :()

Looks like some syntax error:

[code]

[2016-05-06 17:51] mkusher commented on #32
@MichaelMackus

[code]

looks like you have php 5.6 or less local, I think I need to just skip files with error...

[2016-05-06 18:30] mkusher commented on #32
@MichaelMackus test with https://github.com/mkusher/padawan.php/pull/33

[2016-05-07 23:58] Neopallium opened #34 "padawan crashes when processing a Symfony tests fixture."
When generating the index for a new Laravel project the indexer Segfaults (php 5.6.20 Debian 8.4) while processing this Symfony test class.
https://github.com/symfony/var-dumper/blob/master/Tests/Fixtures/NotLoadableClass.php

It seems the issue is with the class extending itself:
`class NotLoadableClass extends NotLoadableClass
`

If I change one of the class names it will finish wihtout crashing

[2016-05-08 09:13] mkusher commented on #34
Interesting issue. I guess indexer tries to get info about parent class and that why it fails.

[2016-05-08 11:25] Neopallium commented on #34
I didn't realize that I was using an older version of the padawan server.  Attached is the output from the latest padawan-server.  It fails with a syntax error instead of a hard crash like before.  Is it possible to just ignore all PHP parsing errors?

[symfony_generate.txt](https://github.com/mkusher/padawan.php/files/253881/symfony_generate.txt)

[2016-05-08 11:28] Neopallium commented on #34
I think this is really a duplicate of issue #32 , so I will close this issue.

[2016-05-08 11:28] #34 closed

[2016-05-08 11:55] Neopallium opened #36 "Generated index is not saved if the ".padawan" folder doesn't exist."
The sub-folder is not created before saving the index, so no ".padawan/project" file is created if the sub-folder doesn't exist.

[2016-05-10 11:34] mkusher commented on #36
hm, looks like I've broken this in https://github.com/mkusher/padawan.php/commit/65bd91dba04296e8fe21c9a185c17882cca2fca5

[2016-05-10 12:09] mkusher commented on #36
should be fixed in https://github.com/mkusher/padawan.php/commit/6816c3262314b57904ec31a1a427b656ffe73f8c

[2016-05-10 12:09] #36 closed

[2016-05-10 12:10] mkusher commented on #32
@MichaelMackus have you got a chance to test index generation with latest master?

[2016-05-10 16:16] MichaelMackus commented on #32
@mkusher yes index generation works, but now my completion isn't working any more :(

This issue is fixed, at least.

[2016-05-10 16:16] #32 closed

[2016-05-10 16:20] mkusher commented on #32
@MichaelMackus I guess you need to update editor's plugin(for vim https://github.com/mkusher/padawan.vim/tree/new-padawan-api)

[2016-05-18 05:27] nesl247 opened #40 "Upgrade to php-parser ~2"
nikic/php-parser has had a ~2.0 release since December 2015. It adds support for PHP 7 amongst other things. It would be a good idea to upgrade.

I also can't use padawan at all until then as I already have something installed requiring 2.0.

[2016-05-18 10:30] mkusher commented on #40
fixed in https://github.com/mkusher/padawan.php/commit/802b2cbb568008f9c2a5d5c2367e9547eabd1dea

[2016-05-18 10:31] #40 closed

[2016-05-18 13:34] mkusher opened #42 "Segmentation fault"
Padawan could not generate index for `Symfony\Component\VarDumper\Tests\Fixtures\NotLoadableClass`

[2016-05-18 14:31] nesl247 opened #43 "Allow Symfony 3 components"
Components such as event-dispatcher, console, etc. should allow both `~2.7|~3.0`.

[2016-05-18 18:42] mkusher commented on #43
fixed in https://github.com/mkusher/padawan.php/commit/6c8424a208b9a7a0a3f2489eb0cc6198c1eeaf91

[2016-05-18 18:42] #43 closed

[2016-05-19 10:28] mkusher commented on #22
duplicate #43

[2016-05-19 10:28] #22 closed

[2016-05-27 12:00] mkusher opened #46 "Development announce"
This issue is used to announce API changes.

[2016-06-06 13:17] mkusher opened #47 "Possible memory leak"
https://github.com/mkusher/padawan.vim/issues/17

[2016-06-07 23:50] jludwig commented on #47
It might be related to Symfony\Component\VarDumper\Tests\Fixtures\NotLoadableClass. Before fixing the class to not extend itself, I encountered the same error rather than a segfault.

[2016-06-08 07:48] mkusher commented on #47
@jludwig so, is it a duplicate of https://github.com/mkusher/padawan.php/issues/42 ?

[2016-06-08 15:35] mkusher commented on #47
Duplicate of #42

[2016-06-08 15:35] #47 closed

[2016-06-08 15:36] mkusher commented on #42
The problem is that padawan tries to recursively add links to parent classes. And when parent is the same class it goes to an infinite recursion.

[2016-06-08 17:08] jludwig commented on #47
@mkusher

I installed etsy/phan and ran into the same issue during padawan generate:

[code]

It's a test with the same thing that ended up crashing #42, classes extending themselves. I have not run into it anywhere else, so unless Siprah comes back and says otherwise, I do believe it is a duplicate.

[code]

[2016-06-08 17:59] mkusher commented on #42
a good test case by @jludwig

[code]

[2016-06-18 09:34] allan-simon commented on #42
maybe it was already obvious, but the workaround for symfony projects, is to simply open the file containing `Symfony\Component\VarDumper\Tests\Fixtures\NotLoadableClass`  and commenting it , generate the index and uncommenting it

[2016-07-03 00:03] alexisvincent opened #48 "Awesome Work"
Man, thank you so much! This is awesome work you're doing :D Keep it up!

[2016-07-03 21:24] mkusher commented on #48
thank you :)

[2016-07-03 21:51] #48 closed

[2016-07-09 10:31] dantleech commented on #20
+1 would also be good to cascade back to a global configuration so I can f.e. ignore nested vendor files `**/vendor`

[2016-07-23 10:43] greg0ire opened #49 "Installation method"
The recommended installation method is too use `composer global install`. This failed on my machine, because of a conflict with other global packages. I ended up using `composer create-project` to work this around, which gives me an independent project, with its packages. It would be great to provide a self-updating phar, like Composer does, for instance.

[2016-07-23 10:44] greg0ire opened #50 "Discoverability"
On my setup, typing just `bin/padawan` or `bin/padawan made-up` argument does nothing. I would expect that to give a list of possible commands / the help for padawan.

[2016-07-23 10:50] greg0ire commented on #50
Looking at the code, I think having an `ErrorCommand` makes no sense, and an exception should be thrown instead. Also, how about symfony's Console component? It should make all this easy.

[2016-07-23 16:22] greg0ire commented on #50
Apparently, the console component is already an implicit dependency of the project :

[code]

[2016-07-23 16:25] mkusher commented on #49
@greg0ire maybe it's better to solve conflicts?

[2016-07-23 16:26] mkusher commented on #50
@greg0ire version in master does it

[2016-07-23 16:27] greg0ire commented on #50
Oh… ooooh. I feel stupid right now. Closing, sorry.

[2016-07-23 16:27] #50 closed

[2016-07-23 16:28] greg0ire commented on #49
The more applications you add, the more conflicts you will have (or you will have no conflicts, but will be stuck with outdated versions because some application is lagging behind the others).

[2016-07-23 16:29] mkusher commented on #50
@greg0ire it's ok, cause there is still no stable release with this fix :(

[2016-07-23 16:29] greg0ire commented on #49
See [this discussion](https://github.com/FriendsOfPHP/Sismo/issues/120)
Also related : https://github.com/composer/composer/issues/5390

[2016-07-23 16:30] mkusher commented on #49
@greg0ire ok, will look through discussion

[2016-07-23 16:53] greg0ire commented on #49
Great! I added another one, which might be more relevant, but **for the moment**, I think the phar is the way to go.

[2016-07-25 09:43] greg0ire commented on #50
May I ask, why don't you release more often ? The last release is almost one year old :confused:

[2016-07-25 10:41] mkusher commented on #50
@greg0ire planned to much features to add :(

[2016-07-25 11:45] greg0ire commented on #50
Feels very familiar :)
Do you have a moment to talk about our lords and saviours [time-based release](https://about.gitlab.com/2016/07/21/release-early-release-often/)? I think switching to that kind of release would spare you some stupid issues like this one, and to get earlier feedback on new things, while making upgrade less painful. The only drawback I can see is that it will force you to have

[2016-07-25 15:40] mkusher commented on #50
it's a good idea, I'll need to more accurately manage my time, so I'll have more time to spend on padawan

[2016-08-01 17:26] MichaelMackus opened #51 "Class 'Padawan\Command\GenerateCommand' not found"
Maybe missing GenerateCommand.php file in git? Doesn't look like its in the Command directory at all, and its being referenced via Framework\Application\Cli.php on commit f030bea741aee44eea6f8eee7f9abce569056174

[2016-08-01 18:26] mkusher commented on #51
hah, yeah, looks like missed it in git

[2016-08-07 21:55] mkusher commented on #51
@MichaelMackus should be fixed in https://github.com/mkusher/padawan.php/commit/9a11001b536a8886e7fa6beeda460a8e253ca9dc

[2016-08-07 21:55] #51 closed

[2016-08-16 08:10] DerJacques opened #55 "Install using composer fails due to old version of reflection-docblock"
Hi there

I just tried installing padawan, but unfortunately `composer global require mkusher/padawan` failed with the following error message:

[code]

My global composer.json looks like this:

[code]

If I understand the error message correctly, the issue appears due to a padawan using an older version of reflection-docblock. Maybe this could be updated?

Thanks for making padawan!

[2016-08-16 08:36] mkusher commented on #55
@DerJacques hi! Can you install dev-master version of padawan?

[2016-08-16 08:40] golaod opened #56 "Doesn't work at all"
I wiped original message for this:
To make it work, I had to install EnvironmentSettings to add padawan to $PATH, because sublime python just didn't see my real env variables. Composer autoloader works. I commented out symfony class to reindex everything. I chose 'generate index' but still couldn't make it work, because in GetProjectRoot I had to return `sublime.active_window().extract_variables()

[2016-08-16 09:27] DerJacques commented on #55
@mkusher Thanks, that worked flawlessly!
Thank you for getting back so quickly.

[2016-08-16 09:27] #55 closed

[2016-08-16 17:15] mkusher commented on #56
@golaod hi, sorry for late reply.
About env: I guess you're setting them in bashrc or zshrc, but it is better to do this in bash_profile, zprofile or so.
Also thx for looking through the code, I'm not good at all in sublime plugin scripting, so there might be bugs. And I haven't tested padawan in sublime for a while, but there was no breaking changes...
Can you try doing manual request like [here]

[2016-08-16 17:17] mkusher commented on #56
Also can you manually run padawan-server(in terminal) and see whether it receives requests from sublime?

[2016-08-21 10:46] mkusher commented on #56
@golaod hi, I've just updated https://github.com/mkusher/padawan.sublime so it should work, can you try it?

[2016-08-21 15:10] mkusher commented on #56
if the issue is still valid, reopen it

[2016-08-21 15:10] #56 closed

[2016-08-21 18:58] golaod commented on #56
Sorry for not responding, but I was sick.

Also I just tested it and it works :)

[2016-08-22 09:50] mkusher commented on #56
@golaod that's great, thx! Hope you're well now :)

[2016-09-05 13:50] GATDev opened #57 "PHP Parse Error - unexpected 'loadRequestData'"
Hi,

I'm trying to use Padawan for the first time but having issues with running the server. I'm using Neovim with the padawan.vim (with Symfony2 padawan plugin) and deoplete-padawan plugins. I can successfully generate an index for my composer project (both from within Neovim and from the command line) but when I try to use the autocompletion I get a 'Pattern not found' error along with a 'Padawa

[2016-09-05 14:10] mkusher commented on #57
@GATDev hello. Oh, looks like the php 5 bug. Try updating to php 7, if it's possible. I'll fix it asap

[2016-09-05 15:18] GATDev commented on #57
@mkusher I'm afraid PHP7 isn't an option for this project (server limit of 5.6) but I really appreciate you getting back to me so quickly and I'll take a look at Padawan again once/if there's a 5 fix or if I have the opportunity to work on a 7 project.

[2016-09-05 15:59] mkusher commented on #57
@GATDev can you try this branch https://github.com/mkusher/padawan.php/pull/58 ?

[2016-09-05 16:06] mkusher commented on #57
unfortunately I've no tests for two files in bin, so they might have bugs :(
I've tried this branch in docker and it looks like everything is ok

[2016-09-05 16:47] GATDev commented on #57
Thanks @mkusher, I'll give that branch a try this evening and report back

[2016-09-05 20:17] GATDev commented on #57
Just tried this out now and all seems well. Thanks @mkusher!

[2016-09-06 08:45] #57 closed

[2016-09-06 08:46] mkusher commented on #57
fixed in https://github.com/mkusher/padawan.php/commit/f666908d5ab76ec1068e95e3429af18674d2e58f

[2016-09-08 08:33] golaod opened #59 "Class autocompletion doesn't work without 'use' keyword"
That's something what is missing I think. When I have class like App\Entities\Order and I just type Order, I don't get anything unless I type 'use' keyword before. It wouldn't be a problem if I could do 'find use' and it would automatically add it to other use lines and leave 'Order' in current line. Is there a chance to enable that autocompletion without use keyword at least?

[2016-09-08 08:39] golaod commented on #15
Is there a chance to fix it?

[2016-09-08 08:39] golaod commented on #23
Is there a chance to fix it?

[2016-09-08 08:53] mkusher commented on #59
@golaod can you provide more examples?

[2016-09-08 08:55] mkusher commented on #15
@golaod I haven't started working on it yet. So you are welcome to send PR :)

[2016-09-08 08:57] mkusher commented on #23
@golaod there should be fix in a parser logic, I'm not sure how easy it is. Currently I'm working on https://github.com/mkusher/padawan.php/pulls

[2016-09-08 10:18] golaod commented on #59
Sure.

Let's say I have `App\Entities\ConnectorFailedJob`

and then somewhere in the code I type

[code]

Of course again it wouldn't be a problem if, for istance, 'find use' command would automatically change that line to:

[code]

[2016-09-08 12:40] mkusher commented on #59
@golaod are you using master version?

[2016-09-08 12:51] mkusher commented on #59
so, understood.
~~The fix could be quite easy: we just need to add classes to this map https://github.com/mkusher/padawan.php/blob/master/src/Padawan/Domain/Completer/GlobalFunctionsCompleter.p~~
Fix is really simple:  [this context](https://github.com/mkusher/padawan.php/blob/master/src/Padawan/Domain/Completer/GlobalFunctionsCompleter.php#L52) should be added to [class name completer canHandle](

[2016-09-08 19:44] golaod commented on #59
Thanks for the info, but I can't use master version.

[code]

[2016-09-08 22:08] pbogut opened #60 "Lazy Indexing"
Here's the idea. Instead of doing mass reindex in project root there could be something like a lazy index. On the first completion, we could collect files and classes only (which should be much faster than a full index), and then when doing completion inside the file index missing related files. So if class A uses object of class B then index class B etc. Hopefully, it's clear what the idea is.

W

[2016-09-08 22:26] pbogut opened #61 "Fatal error on indexing."
Given file causing fatal error:

[code]

Error:

[code]

Line `$this->smth = $b->$name;` is the problem, if I change it to `$smth = $b->$name;` it's fine and `$this->smth = $b->test;` is also all right.

Tested on master branch (works all right on 0.2.1).

[2016-09-08 22:41] pbogut opened #62 "Plugins are not loaded"
Master branch is not loading plugins.

It looks like the plugin loader is never called. Unless there was some breaking change? I can only tell that the `Plugin` class inside my plugin is never created.
It works fine in 0.2.1

PS.
`plugin.json` is now created in `src` directory, in 0.2.1 it was created in the `root`. Not sure if that's by design or missed in refactoring?

[2016-09-09 09:25] mkusher commented on #62
@pbogut plugins are not working with master, there were some BC. I'm thinking about how they should work now

[2016-09-09 09:30] mkusher commented on #60
@pbogut there is a new feature in padawan "Index update", it will update index only for changed files. For now it's only available via http interface
[Here](https://github.com/mkusher/padawan.vim/blob/master/python/padawan.py#L191) is an example

[2016-09-09 09:32] mkusher commented on #62
I'm also not sure how it will work if we pack padawan as phar https://github.com/mkusher/padawan.php/issues/49
@greg0ire what do you think about phar + plugins?

[2016-09-09 09:33] golaod commented on #59
Any suggestions?

[2016-09-09 09:34] mkusher commented on #59
@golaod why do you need global react/http v0.4.1?

[2016-09-09 09:35] golaod commented on #59
I don't need it. I just install your package with `composer global require mkusher/padawan:master`

[2016-09-09 09:36] mkusher commented on #59
@golaod can you remove it completely and then install again?
`$ composer global require mkusher/padawan:dev-master`

[2016-09-09 09:43] golaod commented on #59
[code]

[2016-09-09 09:45] mkusher commented on #59
@golaod can you show your global composer.json?

[2016-09-09 09:49] golaod commented on #59
[code]

[2016-09-09 09:57] mkusher commented on #59
@golaod please, try following:

[code]

[2016-09-09 10:13] golaod commented on #59
Thank you very much, that one helped. Now let me check, whether namespaces work in the middle of code.

[2016-09-09 10:17] golaod commented on #59
Nope, still doesn't autocomplete.

[2016-09-09 10:18] mkusher commented on #59
@golaod now only global functions will work, in order to complete fqcn we need to add [this fix](https://github.com/mkusher/padawan.php/issues/59#issuecomment-245586948) to the completer

[2016-09-09 10:20] golaod commented on #59
I added it manually to your code, but right now with dev-master even use statement at the top of the file doesn't populate popup with classes

[2016-09-09 10:27] golaod commented on #59
And if you wanna ask whether padawan-server is working. It does, because doing $this-> inside a method  populates the popup.

[2016-09-09 10:28] mkusher commented on #61
can you try https://github.com/mkusher/padawan.php/issues/63

[2016-09-09 10:34] golaod commented on #59
Hm...during further tests I found out that $this-> is not populated by your module, but by sublime. In that case padawan stopped working at all :(

[2016-09-09 10:37] mkusher commented on #59
@golaod run `padawan generate` from the root dir of your project.
I've also sent https://github.com/mkusher/padawan.php/pull/64

[2016-09-09 10:50] golaod commented on #59
I run padawan generate, I did the same in sublime, but it still doesn't autocomplete classes at the top of the file when writing along with 'use' keyword, doesn't autocomplete inherited methods on $this->, and #64 has a bug

[2016-09-09 10:56] mkusher commented on #59
@golaod yeah, I see the bug. So, I should spend more time on it :(
Have you restarted padawan server after you ran generate?

[2016-09-09 10:57] golaod commented on #59
Yes I did and same thing as with padawan generate. Doesn't matter if I run it from the console or sublime.

[2016-09-09 11:20] golaod opened #65 "PHPParser error."
I know it's not your library and you just use it here, but maybe you know whether new version of that library ( after you told me to use dev-master ) or something else, makes the line
`$countries = $this->country ?: ['US'] + array_keys(\CountryState::getCountries());`
to throw an error in padawan-server
`exception 'PhpParser\Error' with message 'Syntax error, unexpected T_STRING on line 52'`

[2016-09-09 11:40] mkusher commented on #59
ooh, that's strange. Can you debug it with nc(show me request/response)?

[2016-09-09 11:41] mkusher commented on #65
I think the problem with php version used, I'm not sure what exactly wrong here

[2016-09-09 11:43] greg0ire commented on #62
I think it's possible b/c the phpunit phar can load the code under test and additional libraries

[2016-09-09 11:59] golaod commented on #59
Any suggestion on how to debug it?

[2016-09-09 12:11] golaod commented on #59
Nvm, I figured out to catch the request first and then send it over

[2016-09-09 12:36] golaod commented on #59
Request sent by sublime

[code]

As I couldn't use it to send it over to padawan-server through nc, so I built curl request

[code]

It gets me response

[code]

And padawan server throws an error

[code]

[2016-09-09 13:30] mkusher commented on #59
@golaod thx, will try to debug it later

[2016-09-09 14:39] mkusher commented on #59
@golaod yeah, I've found the problem - wrong content-type header. I've already fixed it in https://github.com/mkusher/padawan.sublime/commit/46152ec32a82da57526f9cb77921a610b6b42071
so can you update your padawan plugin for sublime(maybe I have to make new tag\release?)?

[2016-09-10 14:11] golaod commented on #59
Thanks for fixing the header as I was able to use nc to send request.

[code]

Now what I found:
- Generate index stopped working. I removed index completely and tried to generate it. Progress bar just goes very fast and nothing happens. When I call `padawan generate` from console then it works ok. After generation when I try again in sublime, progress bar is still lightning fast.
- Autocompletion

[2016-09-10 14:28] golaod commented on #59
Please don't get me wrong with my last sentence, I was just referring to it, because I wanted to help with few missing features, but now if package doesn't work at all, it's just harder than I thought. I really appreciate your help and didn't want to judge your volunteer work

[2016-09-10 14:56] mkusher commented on #59
yeah, that's why I haven't created new tag. 0.2 branch is quite stable and dev-master is development. Even with auto tests there are a lot of untested cases.
I tried completion in your file without an index and got completion for current file context(using dev-master both for sublime plugin and padawan). Not sure how to reproduce your situation :(

[2016-09-10 15:47] golaod commented on #59
I also get completion for current file, but I think it should return more, like for instance inherited methods. Plus it still doesn't return completion for fqcns

[2016-09-10 15:51] mkusher commented on #59
@golaod so does it return completions or it returns nothing?

[2016-09-10 15:54] golaod commented on #59
it doesn't return completions from padawan. In case

[code]

I see only 'debug' whereas should also see 'test' method

[2016-09-10 16:18] mkusher commented on #59
@golaod just created new file and tried your case and it works. So something wrong with padawan install. Maybe you're using some virtualization or something? I mean maybe padawan couldn't find files or something like?
And can you start `padawan-server` from your terminal and copy it's output here for this case?

[2016-09-10 16:30] golaod commented on #59
Exactly, because you pasted both classes into the same file. I gave you a simple case, but of course I was referring to a regular day scenario, where your classes extend other classes (from other files).

[2016-09-10 16:34] mkusher commented on #59
@golaod oh, I just need to understand what's wrong.

[code]

in this case you should get `test`, `test2` and `debug`. So that will show whether padawan works at all or not

[2016-09-10 17:06] golaod commented on #59
But as I wrote in my last comment: Everything depends on where you put those classes. If you have them both in the same class, then actually I don't need padawan to see test, test2 and debug, because sublime can handle it. Problem is when you put class A to file a.php and class B to file b.php, because padawan doesn't return methods from class A even though B extends A

[2016-09-11 07:11] mkusher commented on #59
@golaod sublime couldn't understand private\protected and etc. And I need to understand what's wrong

[2016-09-16 22:44] pbogut opened #66 "Namespace completion issue"
When I have class with namespace like this:

<?php

namespace My\Name\Space;

class MyClass {
  public function testFunction() {
    new DateTi //case 1
    new \DateTi //case 2
  }
}
For case one padawan is giving suggestions when pointing on 9th column (D letter), but for the case 2 when pointing at 10th column (D letter as in case 1).
Is that how it should be?
I'm not even sure if the case 1 sh

[2016-09-17 11:11] mkusher commented on #66
that's because padawan uses same completer for `use` completion and classes completion after `new` and `extends`. So we need new completer that will check uses and will create relative name

[2016-10-04 19:52] cprn opened #67 "Shouldn't bulit-ins get completed?"
Everything works okay in most cases, e.g.:
[code]

But shouldn't the built-in functions (like below) get completed as well?
[code]

All I get is:
[code]

Maybe there's something wrong with my installation process?
1. Installed `NVIM-0.1.6-dev` and `vundle`,
1. installed `deoplete`, `deoplete-padawan` and `padawan`,
1. installed `composer global require mkusher/padawan`,
1. installed `PHP 5.6.11.1`

[2016-10-05 07:47] mkusher commented on #67
it looks more like problem with deoplete-padawan, it doesn't send prefix.
Cc @pbogut

[2016-10-05 12:18] pbogut commented on #67
@mkusher, your right, prefix is not sent by the deoplete-padawan. The column is always set at the beginning of the word. I wIll take a look at this later.

@cprn, which version of padawan you are using? As far as I can tell the error is displayed on stable 0.2.1 but this version doesn't support build in functions anyway.

If you want to use omnifunc with deoplete it will take async benefits away.

[2016-10-05 16:45] cprn commented on #67
Whatever gets installed with `vim-plug`:

[code]

Sounds legit.

Do we close this issue and move to your github? (it says 0 open issues)

[2016-10-05 17:07] mkusher commented on #67
@cprn yeah, it's better to continue there https://github.com/pbogut/deoplete-padawan

[2016-10-05 17:07] #67 closed

[2016-10-06 22:43] pbogut opened #68 "Function as parameter does not work."
Given
[code]
There is no suggestion fow function call, I would expect `array_map` etc.

[2016-10-07 20:59] mkusher commented on #68
Yeah, Context is set to type "Method call" which is not true. But if you type `$this->test(1, arr` you'll get completion

[2016-10-26 16:24] mkusher opened #69 "Support language server protocol"
https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md

[2016-11-12 22:53] dakira commented on #42
So, this is blocking re-integration into PHPCompanion. Any chance this can be fixed? Maybe the reflection code of Symfony itself (that introduced this testfile) helps? https://github.com/symfony/var-dumper/commit/f133ef94df600e5fa7f7d26761c7f663c25ed040

[2016-11-12 23:00] dakira opened #70 "update to current symfony/event-dispatcher"
When installing globally, all Laravel and Symfony users have a newer conflicting version installed. Are there any breaking changes between 2.* and 3.*?

[2016-11-13 11:54] mkusher commented on #42
@dakira https://github.com/mkusher/padawan.php/pull/54 I started working on it sometime ago, but haven't got a chance to finish it

[2016-11-13 11:56] mkusher commented on #70
@dakira master version supports both 2.\* and 3.\* https://github.com/mkusher/padawan.php/blob/master/composer.json

[2016-11-13 12:12] dakira commented on #70
@mkusher but that's not the version you can when you run `composer global require mkusher/padawan`. Maybe make a release?

[2016-11-13 12:14] mkusher commented on #70
@dakira there are some broken things there, so I'm not sure whether it's a good idea

[2016-11-13 12:48] dakira commented on #70
@mkusher ? So in any case padawan is not usable right now? The current release is not usable because users of current frameworks can't install it and the master version which they can install is broken? I'm confused.

[2016-11-13 19:32] mkusher commented on #70
@dakira bug with symfony invalid class is still in master, but the plugin system is broken

[2016-11-22 22:13] okdewit commented on #42
Personally, I'd love an `--ignore` option of some kind, like ctags provides. Some way to include/exclude directories and files, or maybe a class blacklist.

[2016-11-23 12:53] mkusher commented on #42
@okdewit yeah, it has been discussed https://github.com/mkusher/padawan.php/issues/20

[2016-11-29 20:39] pbogut opened #71 "No response from the server."
This is somehow strange. Sometimes padawan is not responding to request at all. There is also no log message. Padawan is still up and running as a request in another file will work all right.

I can reproduce it with Laravel project.

  - `composer global require laravel/installer`
  - `laravel new test`
  - edit `vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php`
  - There is no

[2016-11-30 08:35] mwildehahn commented on #71
i think i'm seeing this issue because of the size of the file. for small files it works well, but for large files it never responds. it doesn't seem to even generate that it received the request.

[2016-11-30 10:47] mkusher commented on #71
hm, maybe the problem is somehow connected with incorrect http body fetching.

I mean this function https://github.com/mkusher/padawan.php/blob/master/bin/padawan-server#L95

[2016-11-30 20:33] haringsrob opened #72 "Indexing fails with 9000 nesting level"
When I try to index a Drupal project, it ends with an error reaching the 9000 limit.

These are the last lines in the log:
[code]

This happens using padawan generate or :padawangenerate

[2016-11-30 20:34] haringsrob commented on #72
`class NotLoadableClass extends NotLoadableClass` is there, so I guess this is normal..

We should be able to catch this somehow?

[2016-11-30 20:45] mwildehahn commented on #71
@mkusher it should still log something before reaching that function right? i'm not seeing anything get logged

[2016-11-30 20:59] mwildehahn commented on #71
not sure this is actually an error with the padawan-server, i feel like the request is never making it to the server.

i added some debug logging as soon as the request gets received (there already is logging that should be taking place, ie. method etc) and it never gets invoked.

if i open up a very small file, it starts to work, open up larger file, doesn't work.

[2016-11-30 22:10] pbogut commented on #71
I think this is a problem with `react/http`.
I've just made a quick test, and when big data is send to padawan `request` event is not triggered. So I've checked `react/http/src/Server.php` and I can see that request with small file triggers `$parser->on('headers...` but with the big one only `$parser->on('data...` is triggered.

I don't know react so I can't tell how this suppose to work exactly b

[2016-11-30 22:17] pbogut commented on #72
Duplicate of https://github.com/mkusher/padawan.php/issues/42

[2016-11-30 23:07] pbogut commented on #71
I think this is related to this issue: https://github.com/reactphp/http/issues/80

[2016-11-30 23:13] mwildehahn commented on #71
that definitely sounds like the right direction

[2016-12-01 06:56] haringsrob commented on #72
True, this can be closed.. I looked for something similar but couldnt find it.

[2016-12-01 06:56] #72 closed

[2016-12-21 11:15] kokx commented on #71
I can confirm that applying [the pull request](https://github.com/reactphp/http/pull/82) that solves https://github.com/reactphp/http/issues/80 will also solve these issues with padawan.php. It now works great, even in larger files!

[2016-12-21 11:31] mkusher commented on #71
that's nice)

[2016-12-21 11:31] kokx opened #73 "Inline @var syntax"
Implement inline `@var` syntax.

Sometimes, you know for a fact that some function returns a certain type. However, type hinting won't work because the function is too generic for that. For example, with the ZF2 ServiceManager:

[code]

In this case, it would be great to have autocompletion for `$job` as well. However, padawan.php just marks it as a generic `object`.

This syntax has been implemen

[2016-12-21 12:25] mkusher commented on #73
@kokx now `@var` works only before assignment, like this
[code]

[2016-12-21 12:34] kokx commented on #73
Thanks for the comment @mkusher. Unfortunately however, I cannot reproduce that. Even after a re-index and restart of padawan.php it doesn't work. It still tells me that `$job` is an `object`.

[2016-12-21 13:51] pbogut commented on #73
Shouldn't it be `/** @var $job Job */` instead of `/* @var $job Job */` ?
Note two asterisks.

[2016-12-21 13:59] mkusher commented on #73
oh, @pbogut is right :)

[2016-12-21 14:02] kokx commented on #73
@pbogut That gives a little different result. It now assigns the current namespace (without class) to the variable. See this screenshot:

![var-inline-mistake](https://cloud.githubusercontent.com/assets/138556/21391939/fc0cab54-c78d-11e6-9892-3f27ee26be2c.png)
(the current namespace here is `Debtor\Service`).

Using `/** @var Job $job */` does work correctly. So thanks for the hint!

Still, I thin

[2016-12-21 14:05] mkusher commented on #73
@kokx now padawan partially supports doc-comments, which are using double asterisk(and phpstorm understands this syntax too).

[2016-12-21 14:08] kokx commented on #73
@mkusher Yeah, I completely get that. I'm just saying that it would be a nice feature to have (imo not top priority). Since a lot of code bases already use that syntax.

[2016-12-27 11:46] kokx opened #75 "Add --help text to padawan and padawan-server commands"
Currently, it is relatively hard to determine what the `padawan` and `padawan-server` commands do. It would be great to be able to pass the default `--help` flag to both commands, which would document what they do and which commands you can run on them.

[2016-12-27 11:51] mkusher commented on #75
`padawan` command has help flag, not sure what needs to be added there

[2016-12-27 11:52] kokx commented on #75
In that case, I am not able to trigger it however. When I pass `--help` or `help` to the `padawan` command, I get no result back.

[2016-12-27 11:53] mkusher commented on #75
I think that's because you're on `0.2.1` branch

[2016-12-27 11:55] kokx commented on #75
Very likely, I'm on the most recent version in composer. I'll migrate to `dev-master` then.

[2016-12-27 12:00] kokx commented on #75
This is indeed fixed on `dev-master`.

[2016-12-27 12:00] #75 closed

[2016-12-28 16:55] mkusher commented on #46
For those who is subscribed: project is looking for maintainers. If you want to support project join discussion [here(gitter)](https://gitter.im/mkusher/padawan.php)

[2016-12-30 03:06] halftan commented on #73
will implement in #80, @kokx @pbogut please checkout my development branch to test the feature.
The inline type hinting formats are:
[code]

[2016-12-30 03:16] halftan commented on #26
It seems like this feature was implemented [here](https://github.com/padawan-php/padawan.php/blob/master/src/Padawan/Parser/CommentParser.php#L65)

closing this issue.

[2016-12-30 03:16] #26 closed

[2016-12-30 09:33] mkusher commented on #26
@halftan should we have another one for `@method` block?

[2016-12-30 09:37] halftan commented on #26
@mkusher yes, I'll implement this feature in the same PR

[2016-12-30 11:12] halftan commented on #15
please try #84

[2017-01-01 14:38] halftan commented on #61
tested, the fix works as charm!

[2017-01-01 15:24] #61 closed

[2017-01-03 18:14] danrot opened #86 "Returns only completions being already used in this file"
I am testing using deoplete-padawan with neovim, but I think the problem I am encountering is a general one (although I am not really sure).

Have a look at this screenshot:

![image](https://cloud.githubusercontent.com/assets/405874/21617865/756cee28-d1e8-11e6-9996-c9940938e11e.png)

This is the Symfony controller of the standard edition. The `Controller` class it inherits from has plenty of meth

[2017-01-03 20:11] pbogut commented on #86
Have you run `padawan generate`? It looks like your project is not indexed.

[2017-01-04 02:37] halftan commented on #86
The latest stable release on packagist has some problem with index file generation, see #76

[2017-01-04 03:00] halftan commented on #86
@danrot You can try out [my develop branch](https://github.com/halftan/padawan.php/tree/develop)

[code]
then either configure `deoplete-padawan` to use the padawan bins from my repo, or add the bin dir to `$PATH`. After this, run `padawan generate` again in your project's root directory.

Also, the indexing file doesn't exclude test file, so may cause some exceptions during indexing process, such

[2017-01-04 08:10] danrot commented on #86
@pbogut Yeah, I ran `padawan generate` already, rerunning it also doesn't improve anything.
@halftan When using your branch I get an error message:

[code]

Another question: Since #76 was already merged, shouldn't it be enough to test the `master` branch?

[2017-01-04 08:31] halftan commented on #86
@danrot Please try `rm -r .padawan` in your project root dir and rerun `padawan generate`.

Yes, you can specify `dev-master` when using `composer install`.

[2017-01-04 08:45] danrot commented on #86
@halftan Did that, `padawan generate` worked this time, but the initial problem persists.

[2017-01-04 08:51] halftan commented on #86
@danrot is there anything suspicious in `/tmp/padawan-server.log` ?

[2017-01-04 11:37] danrot commented on #86
Not really... That's all I see in the logs when trying to autocomplete the above values.

[code]

[2017-01-04 11:41] danrot commented on #86
Although, when generating with `padawan generate` there is a PHP Warning I just found now:

[code]

Is it possible that the index is corrupt because of that?

[2017-01-04 12:32] halftan commented on #86
@danrot very likely. May I have your Symfony version? I need to test the indexing functionality against the same code.

[2017-01-04 12:54] danrot commented on #86
@halftan Symfony version is 3.2.1, just did a `composer create-project symfony/framework-standard-edition` two days ago. Please let me know if you can reproduce the problem, so that I know it's not my fault 😊

[2017-01-04 13:15] halftan commented on #86
Here's my output:
[code]

Clearly the index file would not be generated since the exception. Class `NotLoadableClass` should not be indexed by padawan. I've excluded all test related PHP files in PR #87 , please merge that branch and retry:

[code]

PS: I'm using PHP7.1. If you're still facing this problem try upgrading your PHP to a newer version ( > 7.0 ). I'll switch to PHP 5.6 and run this pro

[2017-01-04 13:20] halftan commented on #86
Checked PHP version 5.6 and everything's all right. Besides, the indexing took about 2 times the time PHP 7.1 used.

[2017-01-04 14:24] danrot commented on #86
Updated to PHP 7.1, changed padawan to dev-master and pulled the changes from origin (since #87 has already been merged in the meantime). Still the same error as I got previously (Illegal offset type). I think I am going to debug that one later, and try to see what the illegal offset type is, that should probably help.

[2017-01-04 14:32] halftan commented on #86
[code]
can you see any line looks like
[code]

[2017-01-04 14:53] danrot commented on #86
Yeah, got that line...

[2017-01-04 15:19] halftan commented on #86
Please run this under your project's root dir
[code]

see if the output is:

[code]

[2017-01-04 15:50] danrot commented on #86
Yeah, I exactly have that output.

And regarding Illegal offset warning, I var_dumped the `$prop->name` variable at https://github.com/padawan-php/padawan.php/blob/master/src/Padawan/Domain/Project/Collection/PropertiesCollection.php#L19. The content in there is an object:

[code]

Any idea why that is?

But since the output of your previous script is correct it's probably not related to that, rig

[2017-01-04 16:08] halftan commented on #86
Seems like it's dynamic object property access.

see `symfony/src/Symfony/Component/Validator/Constraints/Composite.php` Line 111:

![image](https://cloud.githubusercontent.com/assets/1898104/21648916/b34d47d6-d2da-11e6-9170-d9c24a57f6df.png)

@mkusher it seems like the same problem in #63 and issue #61  , I'll have a look on this.

[2017-01-04 16:09] halftan commented on #86
@danrot Thanks a lot for your information, I'll keep you inform in this thread once it's been resolved.

[2017-01-04 16:53] halftan commented on #86
Back to completion candidate's issue. Since @danrot 's index file is all right, I could only suspect that something's wrong in `ObjectCompleter`, so here comes some detailed log info:

[add_more_log.txt](https://github.com/padawan-php/padawan.php/files/685314/add_more_log.txt)

please apply this patch on the dev-master branch, and start `padawan-server` in command line, and try to complete again.

[2017-01-05 12:26] danrot commented on #86
I don't know what the wrong behavior was caused by, but it is gone now 😕 But it only works with the latest master branch, otherwise I get the same error as you now (Parent class and child class could not be same).

So I'll keep it like that for now. Any ideas when the next release is coming with these fixes?

[2017-01-05 12:26] #86 closed

[2017-01-05 13:11] halftan commented on #86
Maybe after the features (PR no. greater than 79) are merged. I'm testing these features now. I'll remove the WIP label once I think it's stable enough, then it depends on the project owner to accept it or not.

[2017-01-06 04:08] halftan opened #90 "NodeTypeResolver failed to resolve correct variable type when it's surrounded by parenthesis"
When getting candidates in this situation:

[code]

`$context->getData()` in `ObjectCompleter` returns:

[code]

which is desired.

But when in this situation:

[code]

it returns:

[code]

which is not desired and need to be fixed.

[2017-01-06 08:10] halftan opened #91 "No completion, connect to padawan-server timeout, possibly related with reactphp/http"
see https://github.com/reactphp/http/issues/87

[2017-01-06 15:29] halftan commented on #71
I've explained the reason at https://github.com/reactphp/http/issues/87 and there's a pending PR that fixes this https://github.com/reactphp/http/pull/82

[2017-01-13 19:32] balrok opened #94 "php 7.1"
It seems the dependency php-di does not work with php 7.1
I get following error:

`PHP Fatal error:  Cannot use lexical variable $parameters as a parameter name in ~/.composer/vendor/mnapoli/php-di/src/DI/Definition/Resolver/ClassDefinitionResolver.php on line 146`

And in their issue-tracker I found this:
https://github.com/PHP-DI/PHP-DI/issues/377

Edit: so solution is to use php-di/php-di versi

[2017-01-13 19:36] balrok commented on #94
Ah I didn't check for the latest version. Maybe you should do a release.
When requiring dev-master you already use php-di >= 5

[2017-01-13 19:36] #94 closed

[2017-01-15 10:44] mkusher commented on #94
@balrok yeah, we will make release soon

[2017-01-20 02:07] rawaludin opened #95 "Error about nikic/php-parser when installing"
I'm getting this error when try to install padawan

[code]

nikic/php-parser is not currently installed on my machine. Here is my composer.json and composer.lock file

composer.json https://gist.github.com/rawaludin/b16627c47aab49047e94fd3fa7dc3fc4

composer.lock https://gist.github.com/rawaludin/16ddf00269f2fe692382ba7c8b61cbf3

[2017-01-20 09:40] mkusher commented on #95
Looks like it won't help, but can you try installing `dev-master`?

[2017-01-21 10:04] rawaludin commented on #95
Tried `dev-master`, here's the result

[code]

[2017-02-07 10:49] nacholibre opened #96 "Error when trying to use the master branch"
Hello,

I want to contribute to your project but I'm unable to run the master branch. I'm cloning the repo here ~/.composer/vendor/mkusher/padawan, I'm running `composer install`, and when I execute padawan binary this error shows up.

[code]

Thanks

[2017-02-08 09:09] nacholibre commented on #96
I solved the issue. I've just cloned to repo and put the binaries in my path. Silly me.

Regards

[2017-02-08 09:09] #96 closed

[2017-02-16 02:52] halftan commented on #91
fixed in react/http

[2017-02-16 02:52] #91 closed

[2017-02-16 02:58] halftan commented on #95
@rawaludin  `composer require`  won't work. The only way to install padawan now is to clone this repo and run `composer install` inside repo directory.

@mkusher
The problem might be this line in `composer.json`:

[code]

change it to `"minimum-stability": "dev"` will make composer happy.

[2017-02-16 09:20] mkusher commented on #91
@halftan should https://github.com/padawan-php/padawan.php/issues/71 be closed as well?

[2017-02-16 09:30] halftan commented on #71
Close with #91

[2017-02-16 09:30] #71 closed

[2017-02-16 09:31] halftan commented on #91
yep.

[2017-03-23 09:22] bjufre commented on #94
@balrok @mkusher Has it been solved?

[2017-03-23 10:42] mkusher commented on #94
@behind-design solved in master

[2017-03-23 11:02] bjufre commented on #94
[code]

This is what I get with `composer global require mkusher/padawan`

Again thank you for your patience and help.

[2017-03-23 11:17] mkusher commented on #94
try `composer global require mkusher/padawan:dev-master`

[2017-03-23 11:22] bjufre commented on #94
With that command I get this:

[code]

[2017-04-04 08:53] pbogut opened #98 "Its not working with PHP7.1.2"
Running `php vendor/bin/padawan-server` with PHP 7.1.2  is causing fatal error:

[code]

[2017-04-04 09:00] halftan commented on #98
@pbogut Seems like it's related with PHP-DI. Which version of PHP-DI are you using? and if you could get backtrace of this error, please paste it here.

[2017-04-04 17:20] musou1500 opened #99 "Fatal error occurs when send "kill" command"
When I send kill command to padawan-server, it occurs error below.
thank you.
[code]

[2017-04-04 18:35] musou1500 commented on #99
Sorry I installed v0.2.1.

[2017-04-04 18:35] #99 closed

[2017-04-05 20:26] pbogut commented on #98
I've installed Padawah 0.2.1 by mistake, sorry.

With master I have different error:

[code]

I've installed it from `composer.json`

[code]

So to reproduce create `composer.json` with content above in the empty directory. Run `composer install` and then try to `./vendor/bin/padawan-server`.

[2017-04-06 03:18] halftan commented on #98
@pbogut This has been fixed with https://github.com/padawan-php/padawan.php/pull/102. Please wait for packagist to refresh padawan's dev-master and run `composer update` and try again.

Packagist haven't reloaded the latest commits yet.

[2017-04-06 03:39] halftan commented on #98
Wait a second, is it possible that packagist's service hook is down? @mkusher please take a look at repo's service hook.

[2017-04-06 03:44] musou1500 opened #104 "`update` command cause `File not found` error."
If working directory of `padawan-server` and project root directory is not same, `update` command cause `File not found` error.

To reproduce it,
1. exec `padawan-server` in directory which is not project root.
2. send `update` command to server with correct `path` parameter.
3. error occurs. `padawan-server` will show error log.

thanks.

[2017-04-06 03:46] halftan commented on #104
Will fix in #103

[2017-04-06 03:51] musou1500 commented on #104
@halftan thanks.

[2017-04-06 11:29] mkusher commented on #98
@halftan yes, somewhy it's down, updated manually, will check settings

[2017-04-06 21:36] pbogut commented on #98
Works now, thanks.

[2017-04-06 21:36] #98 closed

[2017-04-11 17:02] phux commented on #95
Had the same issue.

"minimum-stability": "dev"

In my global composer.json helped.
Thanks @halftan

[2017-04-16 11:58] malikin commented on #70
[code]

Am I right, you have write about this issue? I am not using Symfony or Laravel.

[2017-04-16 12:12] malikin commented on #70
Removing global composer.json and vendor directory helps me :)

[2017-04-21 19:18] phux commented on #104
This can be closed, right?

[2017-04-23 00:09] #104 closed

[2017-08-10 15:58] chenping684 opened #105 "i can generate index , but cant't most is 0 function"
[2017-08-10 15:55:48] completer.INFO: processing application/Bootstrap.php [] []
[2017-08-10 15:55:48] completer.INFO: Traversing with 1 walkers [] []
[2017-08-10 15:55:48] completer.INFO: Parsing: [0.051778078079224]s [] []
[2017-08-10 15:55:48] completer.DEBUG: Processing 1 classes [] []
[2017-08-10 15:55:48] completer.DEBUG: Processing 0 interfaces [] []
[2017-08-10 15:55:48] completer.DEBUG: P

[2017-08-10 16:36] mkusher commented on #105
and what is the problem? 0 functions just mean you don't have functions in your php files, only classes

[2017-08-11 02:06] chairping commented on #105
My English is very bad,  I mean  my php files  have many functions , but  padawan  can't get them.

[2017-08-11 05:52] mkusher commented on #105
@chenping684 can u show example of such file?

[2017-08-14 02:24] musou1500 commented on #95
Please try to using "stability flag".
In some case, using `minimum-stability` not seems to be good way.
https://igor.io/2013/02/07/composer-stability-flags.html

here is my `comoposer.json`
[code]

[2017-08-22 02:35] halftan commented on #105
@chenping684 If your functions are class methods, then they are not counted as functions. They are included in the `Processing 1 classes` line.

[2017-08-29 08:44] azzsh opened #106 "Use it and look forward to perfecting it"
That's great. Use it and look forward to perfecting it

[2017-08-29 17:20] mkusher commented on #106
@azzsh sorry, not sure what you've meant. Sounds like a compliment :)

[2017-09-05 10:13] #106 closed

[2017-09-20 03:37] x2002uwh opened #107 "Memory Leak"
When I run the command "padawan generate"
I got following error:
PHP Fatal error:  Allowed memory size of 14780727296 bytes exhausted (tried to allocate 262144 bytes) in
mkusher/padawan/src/Entity/Collection/MethodsCollection.php on line 67

And I use PHP 7.1.9 (cli)

[2017-09-27 11:29] WouterSioen opened #109 "Padawan crashes when generating index for fzaninotto/faker"
Padawan crashes when generating an index for this file: https://github.com/fzaninotto/Faker/blob/v1.7.1/src/Faker/Provider/cs_CZ/Text.php

[2017-09-27 13:01] halftan commented on #109
@WouterSioen Can you see any exception or error log?

[2017-09-27 13:27] WouterSioen commented on #109
where can I find those? When I run `padawan generate` It just stops after saying that it generates the index for that file. (also in verbose mode)

[2017-09-27 13:34] halftan commented on #109
Usually it should be printed on your console. This is what `padawan generate` gave me when running against the provided file.

[code]

seems alright.

[2017-09-27 13:44] WouterSioen commented on #109
generating tags for the project ended after this for me:

[code]

[2017-09-27 13:46] WouterSioen commented on #109
ow god, increased my memory limit and it easily passes it. Sorry for bothering you with my stupidity ;)

[2017-09-27 13:46] #109 closed

[2017-09-27 13:52] halftan commented on #107
how large is your project?
and can you provide the last line before this fatal error that says like `completer.DEBUG: Memory: 1234567` ?

[2017-11-22 04:11] reafle opened #111 "Are traits supported?"
[code]

Was just trying out padawan.php + deoplete, and realized my symfony project is unable to autocomplete some basic stuff.

Dug around with it and found this:
![image](https://user-images.githubusercontent.com/4013735/33109439-dba064b6-cf41-11e7-93fb-0f48d9e30986.png)

Moreover, when trying to edit the inside of a `sneakyTraitFunction()`, some stuff seems to break.

[code]

Am I doing somethi

[2017-11-22 10:57] mkusher commented on #111
traits are not supported yet in padawan

[2017-11-22 11:41] reafle commented on #111
I see. Thanks!

[2017-11-27 18:09] dxops commented on #69
I believe https://github.com/Microsoft/tolerant-php-parser will support that

[2017-11-27 18:37] michaeltintiuc commented on #20
Given that this had not progress for so long, perhaps it makes more sense to add features incrementally? Something among the lines of searching for `padawan.yaml` file and parsing the exclude dirs array?
I like the fact that there currently are no _extra steps_, the above will be an optional step for edge cases.

[2017-12-29 21:33] miguelcjalmeida opened #112 "Cannot execute the command padawan in terminal"
Hello,

I am trying to execute the command: padawan, but I get the following exception:
[code]

My environment is configured with php 7.2.0 and composer 1.5.6 on a Manjaro linux.

I have installed padawan with the following command: `composer global require mkusher/padawan`

Does anybody knows what I am doing wrong?

Thanks for any help!

[2017-12-30 20:04] pbogut commented on #112
You have installed `v0.2.1` version, its the latest stable one but its pretty old and may not work with php 7. Try to install `dev-master` version via `composer global require mkusher/padawan:dev-master`.

[2017-12-30 21:54] miguelcjalmeida commented on #112
Hi! thank you for your quick reply.
I tried running the command you recommended, but it did not work. I got the following messages:

[code]

[2017-12-30 22:05] miguelcjalmeida commented on #112
I am sorry It seems composer has a setup to allow you to require @dev dependencies. So all I had to do is run the following command which added a minimum-stability flag in my composer.json:

`composer global config minimum-stability dev # Sets minimum-stability to "dev"`

So my global composer.json looks like this now:

[code]
Thank you! padawan is working great now <3

[2017-12-30 22:05] #112 closed

[2018-01-12 15:13] Mte90 opened #113 "Use a folder as reference for everything"
It is better to explain with an user case:
I develop with PHP only for WordPress, so for me is useful to have everywhere hints about the code base of this project.
So I am wondering if it is possible to have an index shared with everything inside my editor (VIM) and not only for project where I am working.
There is a parameter to define this behaviour?

[2018-01-14 23:48] Mte90 commented on #113
I think that adding a path there is the solution https://github.com/padawan-php/padawan.php/blob/master/src/Padawan/Command/GenerateCommand.php#L42

[2018-01-14 23:52] Mte90 commented on #113
Also adding a parameter con `padawan generate` for a path can be used to specify a project folder and not only the folder in use.

[2018-01-22 17:42] mkusher commented on #113
I think I didn't get it. If nothing passed to `padawan generate`, than it will use current working directory as project root, isn't it the behavior you want?

[2018-01-22 18:23] Mte90 commented on #113
As example I am modifying a file on `/path/of/folder/with/nested/code/and/stuff.php`, I want that padawan generate from `/path/of/folder/` and not `/path/of/folder/with/nested/code/and/`.
How I can do that with padawan? Maybe I missed something.

[2018-01-23 09:24] mkusher commented on #113
`$ padawan generate --path /path/of/folder` or `$ cd /path/of/folder && padawan generate`

[2018-01-23 10:03] Mte90 commented on #113
Where padawan will generate the index? in what folder?
Because as I understood will search the index in the folder where I am editing but in my case that folder is a parent one.
So the best option seems to execute the generation with a path inside the folder where there are the files that I am editing.

My issue is that I want that index is shared with all the php project that I have to avoid to g

[2018-01-23 19:49] mkusher commented on #113
in both of my examples padawan will generate index in `/path/of/folder`

[2018-01-23 21:44] Mte90 commented on #113
Ok So I have to execute that on the folder where I am working?

[2018-01-24 11:55] Mte90 commented on #113
Seems that `--path` command doesn't exist in that format but only `path` in any case wroked.
I am wondering if there is a parameter to exclude folders to scan.
In that way I can integrate the generate with https://github.com/phpro/grumphp

[2018-02-19 18:34] Mte90 opened #114 "Fatal error"
Seems similar to #27 but the errors is completely different.

[code]

[2018-02-19 18:35] Mte90 commented on #114
Seems that happen with an huge amount of files

[2018-02-19 18:36] Mte90 commented on #113
This is the command that I am using right know: ``/opt/padawan/padawan.php/bin/padawan generate path``

[2018-02-19 19:01] mkusher commented on #114
hm, looks like some unhandled situation, maybe with anonymous classes inside functions

[2018-04-10 16:35] ProfessorChill opened #115 "FQCN.php doesn't check if countable"
Hello! Firstly, sorry. I have never done a commit to another persons project before, so I will just tell you what the issue is here and hopefully that's can fix it!

There is an issue
[code]

On line 19 of FQCN.php we can simply add
[code]

And it fixes the error message, the error message also causes a large amount of memory to be used up. I think it would be called a memory leak?

I am using Pad

[2018-04-10 16:48] halftan commented on #115
I think it's better to resolve the cause than suppressing the warning.

 `$this->parts` needs to be a valid array, but I guess there's something wrong when initializing this field.

Maybe we can change this line https://github.com/padawan-php/padawan.php/blob/master/src/Padawan/Domain/Project/FQN.php#L12

`elseif (!is_array($namespace)) {`

to

`elseif (is_string($namespace)) {`

[2018-04-10 16:51] halftan commented on #115
Oh, btw, @ProfessorChill: PR is always welcomed. Please feel free to submit one if you think it's necessary. It's open source & github, man 😄

[2018-06-06 12:04] deevus opened #116 "No autocomplete when accessing method/property on new line"
Example:

[code]

[2018-09-13 12:47] Mte90 commented on #113
I was thinking but padawan look on parents folder for `.padawan` folder?

[2018-09-13 12:49] Mte90 commented on #115
Same error, it is open source but the project have 11 pr in queue so if is not active is better to patch to use it locally for the moment :-)

[2018-09-13 12:59] Mte90 commented on #113
Ok padawan check the parent folder so I put the index on the main folder of wordpress and I can access to everything :-)

[2018-09-13 13:00] #113 closed

[2018-10-19 22:20] #115 closed